.current {
    color: brown;
}
nav a {
    color: whitesmoke;
    font-size: 5em;
    padding: .2em;
    margin-right: 15em;
}
body{
    background-image: url("/pictures/back.jpg");
    height: 50%;
    background-position: center;
    
}
h1{
    color: whitesmoke; 
}
.MidjuLitur{
    text-align: center;
    letter-spacing: 3px;
    text-shadow: 6px 1px black;
    }